h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    border: 5px;
    border-color: rgb(92, 29, 129); 
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-weight: 1000;
    color: rgb(76, 92, 182);
}

